In [52]:
import pandas as pd 
import numpy as np
import scipy
from scipy import stats
from plotly import figure_factory as FF

In [53]:
buy = pd.read_csv('BuyerRatio.csv')
buy

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [54]:
c = buy['Observed Values']=buy['Observed Values'].map({'Males':0,'Females':1})
c

0    0
1    1
Name: Observed Values, dtype: int64

In [55]:
buyyy = buy.T
buyyy

                   0     1
Observed Values    0     1
East              50   435
West             142  1523
North            131  1356
South             70   750

In [56]:
from scipy.stats import chisquare
scipy.stats.chi2_contingency(buyyy)

(1.6929696469183673,
 0.7919942975413565,
 4,
 array([[8.81561238e-02, 9.11843876e-01],
        [4.27557201e+01, 4.42244280e+02],
        [1.46779946e+02, 1.51822005e+03],
        [1.31088156e+02, 1.35591184e+03],
        [7.22880215e+01, 7.47711978e+02]]))

In [57]:
chi,pval,dof,exp =scipy.stats.chi2_contingency(buyyy)
chi,pval,dof,exp

(1.6929696469183673,
 0.7919942975413565,
 4,
 array([[8.81561238e-02, 9.11843876e-01],
        [4.27557201e+01, 4.42244280e+02],
        [1.46779946e+02, 1.51822005e+03],
        [1.31088156e+02, 1.35591184e+03],
        [7.22880215e+01, 7.47711978e+02]]))

In [59]:
print(pval)

0.7919942975413565