In [9]:
import numpy as np
import pandas as pd 
from scipy import stats 
import scipy
from statsmodels.stats.proportion import proportions_ztest

In [10]:
pat = pd.read_csv("Faltoons.csv")
pat

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [11]:
patt = pat.replace('Female','0',regex=True)
patt = pat.replace('Male','1',regex=True)

In [12]:
fc = pd.crosstab(pat["Weekdays"],pat["Weekend"])
fc

Weekend   Female  Male
Weekdays
Female       167   120
Male          66    47

In [17]:
count = np.array([66,47])
nobs = np.array([167,120])

In [19]:
stat,pval_a = proportions_ztest(count,nobs,alternative='two-sided')
stat,pval_a

(0.06059497248502743, 0.9516817775441105)